*{
    box-sizing: border-box;

}

html,body{ 
    height: 100%;
    margin: 0;
    padding: 0;
}


nav{
    background-color: #00b19d;
    height: 3rem;
}
#search{
    left: 55%;
}
#lupa{ 

    width: 7%;
    height: 4%;
    margin-top: 1%;
    margin-left: 1%;
    background-color:  #007e70;
   
}
#busco{
    height: 4%;
    width: 50%;
}
#nuevo{
    height: 4%;
    background-color:  #007e70;

}

.container_body{
    display: flex;
    flex-flow: column;
    height: 100%;
    /* border: 1px solid red; */
}
.container_main{
    display: flex;
    flex-flow: row;
    height: calc(100%-3rem);
    /* border: 1px solid red; */
}
#index{
    background-color: #ffffff;
    width: 7%;
    height: 100%;
}
main{
    height: 100%;
    background-color: #E8ebf0;
    flex-grow: 1;
}


#shop{
    background-color: white;
    height: 100%;
    width: 40%;
    flex-grow: .4;
    display: flex;
    flex-flow: column;
}
#shop h3{
    margin: 0;
    height: 5%;
    text-align: center;
    color: white;
    background-color: #809bb6;
}
footer{
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0rem;
    width: 100%;
}
article{
   
    border: 2px solid black;
    width: 10rem;
    height: 14rem;
    margin: 0.6rem;
    background-color: white;
    text-align: center;
    border-radius: 5%;
    flex-wrap: wrap;
    
 }

 #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
#cancel_sale{
    background-color: #809bb6;
}
#sale_botton{
    background-color: #00b19d;
}
.po{
    width: 98%;
    height: 5%;
    margin: 1%;
    margin-bottom: 1%;
    background-color: #00b19d;
    border: 0px solid;
}
article:hover {
    transform: scale(1.1);
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;

}